<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePaget</title>
</head>
<body>
    <header>
        <h1><a href="/">To Home Page</a></h1>
    </header>
    <nav>
        <a href="/">To Home Page again</a>
    </nav>
    <main>
        <h2>Last notices</h2>
        <p>empty field</p>
    </main>
</body>
</html>