<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Hello</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
            padding-top: 50px;
        }

        .container {
            background-color: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
            color: #495057;
        }

        .input-menu {
            padding: 5px;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
        }

        .input-menu > * {
            flex: 1;
            margin-right: 10px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            border-radius: 5px;
        }

        .btn {
            margin: 10px;
        }

        .list-group-item {
            font-size: 14px;
            border-radius: 8px;
            background-color: #f1f1f1;
            margin-bottom: 5px;
        }

        .list-group {
            margin-top: 20px;
        }

        .card {
            border: 1px solid #ddd;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>

    <div class="container">
        <h1>Phone Book</h1>
        <form id="myForm" action="/" method="POST">
            <div class="input-menu">
                <!-- First Name -->
                <div class="form-group">
                    <label for="field1">First Name</label>
                    <input type="text" id="field1" name="field1" class="form-control" placeholder="First name">
                </div>

                <!-- Last Name -->
                <div class="form-group">
                    <label for="field2">Last Name</label>
                    <input type="text" id="field2" name="field2" class="form-control" placeholder="Last name">
                </div>

                <!-- Middle Name -->
                <div class="form-group">
                    <label for="field3">Middle Name</label>
                    <input type="text" id="field3" name="field3" class="form-control" placeholder="Middle name">
                </div>

                <!-- Street -->
                <div class="form-group">
                    <label for="field4">Street</label>
                    <input type="text" id="field4" name="field4" class="form-control" placeholder="Street name">
                </div>

                <!-- House -->
                <div class="form-group">
                    <label for="field5">House</label>
                    <input type="text" id="field5" name="field5" class="form-control" placeholder="House number">
                </div>

                <!-- Building -->
                <div class="form-group">
                    <label for="field6">Building</label>
                    <input type="text" id="field6" name="field6" class="form-control" placeholder="Building name">
                </div>

                <!-- Apartment -->
                <div class="form-group">
                    <label for="field7">Apartment</label>
                    <input type="text" id="field7" name="field7" class="form-control" placeholder="Apartment number">
                </div>


                <!-- Phone Number -->
                <div class="form-group">
                    <label for="field8">Phone Number</label>
                    <input type="text" id="field8" name="field8" class="form-control" placeholder="Phone number">
                </div>
            </div>
            <!-- Buttons -->
            <div class="text-center mt-4">
                <input type="submit" name="search" class="btn btn-outline-success" value="Select">
                <input type="submit" name="add" class="btn btn-outline-primary" value="Add">
                <input type="submit" name="update" class="btn btn-outline-warning" value="Update">
                <input type="submit" name="delete" class="btn btn-outline-danger" value="Delete">
            </div>
        </form>
    </div>
    <script>
    // Функция для отображения формы редактирования
    function showEditForm(id) {
        var form = document.getElementById('edit-form-' + id);
        form.style.display = 'block'; // Показываем форму

        // Скрываем кнопки Update и Delete
        var updateButton = document.getElementById('update-btn-' + id)
        var deleteButton = document.getElementById('delete-btn-' + id)

        updateButton.style.display = 'none'
        deleteButton.style.display = 'none'
    }

    function changeData(id) {
        var value = document.getElementById('FirstName-'+id).value;

        // const firstNameCell = document.getElementsByClassName('row-${id}');
        console.log(`td.first-name-${id}`)
        const firstNameCell = document.querySelector(`#row-${id} .first-name-${id}`);

        if (firstNameCell.innerHTML) {
            firstNameCell.innerHTML = value; // change text value
        } else {
            console.error(`Ячейка с ID row-${id} не найдена.`);
        }

        console.log(value)
    }

    // // Функция отправки формы
    // function updateRow(event, id) {
    //     event.
    // }
    // Функция для отмены редактирования (скрытие формы)
    function cancelEdit(id) {
        var form = document.getElementById('edit-form-' + id);
        form.style.display = 'none'; // Скрываем форму

        var updateButton = document.getElementById('update-btn-' + id)
        var deleteButton = document.getElementById('delete-btn-' + id)

        updateButton.style.display = 'block'
        deleteButton.style.display = 'block'
    }
    </script>
    <!-- Phone Book Data -->
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h5>Phone Book Data</h5>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Middle Name</th>
                    <th>Street</th>
                    <th>House</th>
                    <th>Building</th>
                    <th>Apartment</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {{range .}}
                <tr id="row-{{.ID}}">
                    <td class="first-name-{{.ID}}">{{.FirstName}}</td>
                    <td>{{.LastName}}</td>
                    <td>{{.MiddleName}}</td>
                    <td>{{.Street}}</td>
                    <td>{{.House}}</td>
                    <td>{{.Building}}</td>
                    <td>{{.Apartment}}</td>
                    <td>{{.PhoneNumber}}</td>
                    <td>
                        <div class="d-flex">
<!--                            <form action="/" method="POST">-->
<!--                                <input type="hidden" name="certain-update" value="{{.ID}}">-->
<!--                                <button type="submit" class="btn btn-warning">Update</button>-->
<!--                            </form>-->
                            <!-- Форма для редактирования -->
<!--                            action="/" method="POST"-->
                            <form action="/" method="POST" id="edit-form-{{.ID}}" style="display:none;">
                                <input type="hidden" name="certain-update" value="{{.ID}}">
                                <div>
                                    <label for="FirstName-{{.ID}}">First Name</label>
                                    <input type="text" id="FirstName-{{.ID}}" name="FirstName" value="{{.FirstName}}">
                                </div>
                                <div>
                                    <label for="LastName-{{.ID}}">Last Name</label>
                                    <input type="text" id="LastName-{{.ID}}" name="LastName" value="{{.LastName}}">
                                </div>
                                <div>
                                    <label for="MiddleName-{{.ID}}">Middle Name</label>
                                    <input type="text" id="MiddleName-{{.ID}}" name="MiddleName" value="{{.MiddleName}}">
                                </div>
                                <div>
                                    <label for="Street-{{.ID}}">Street</label>
                                    <input type="text" id="Street-{{.ID}}" name="Street" value="{{.Street}}">
                                </div>
                                <div>
                                    <label for="House-{{.ID}}">House</label>
                                    <input type="text" id="House-{{.ID}}" name="House" value="{{.House}}">
                                </div>
                                <div>
                                    <label for="Building-{{.ID}}">Building</label>
                                    <input type="text" id="Building-{{.ID}}" name="Building" value="{{.Building}}">
                                </div>
                                <div>
                                    <label for="Apartment-{{.ID}}">Apartment</label>
                                    <input type="text" id="Apartment-{{.ID}}" name="Apartment" value="{{.Apartment}}">
                                </div>
                                <div>
                                    <label for="PhoneNumber-{{.ID}}">Phone Number</label>
                                    <input type="text" id="PhoneNumber-{{.ID}}" name="PhoneNumber" value="{{.PhoneNumber}}">
                                </div>
<!--                              type = submit-->
                                <button type="button" class="btn btn-success" onclick="changeData({{.ID}})">Save</button>
                                <button type="button" class="btn btn-secondary" onclick="cancelEdit({{.ID}})">Cancel</button>
                            </form>

                            <!-- Кнопка для отображения формы редактирования -->
                            <button type="button" class="btn btn-warning" id="update-btn-{{.ID}}" onclick="showEditForm({{.ID}})">Update</button>


                            <form action="/" method="POST">
                                <input type="hidden" name="certain-delete" value="{{.ID}}">
                                <button type="submit" class="btn btn-danger" id="delete-btn-{{.ID}}">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
                {{end}}
                </tbody>
            </table>
<!--            <ul id="dataList" class="list-group list-group-flush">-->
<!--                {{range .}}-->
<!--                <li class="list-group-item">{{.FirstName}}</li>-->
<!--                {{end}}-->
<!--            </ul>-->
        </div>
    </div>
</body>
</html>
